* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: century, georgia;
}

main {
  min-height: 100vh;
  padding: 25px;
}

.App {
  background-image: url("img/app.jpg");
}
